.default {
  position: relative;
  & video {
    width: 100%;
  }
  & .playWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;
    & .playBg {
      position: relative;
      width: inherit;
      height: inherit;
    }
    & .playIcon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
    }
  }

  & .controlBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 55px;
    z-index: 100;
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0), #222222);
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;
    padding: 0px 10px;
    box-sizing: border-box;
    @media (max-width: 320px) {
      padding: 0px 4px;
    }
    & .progressBar {
      margin-left: 4px;
      display: inline-block;
    }

    & .volume {
      width: 20px;
      height: 20px;
      margin-left: 4px;
    }

    & .text {
      width: 35px;
      color: white;
      font-size: 14px;
    }

    & .endTime {
      margin-left: 4px;
    }
  }
}

.fadeIn {
  opacity: 1 !important;
  pointer-events: visible !important;
  transition: opacity 2s;
}
